body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: #60a472;
}

/* dot means class */
.site-title {
    color: navy;
}

/* hashtag means id  */
#my-image {
    box-shadow:0px 0px 2px 1px black;
}

ul {
    list-style-type: square;
}

/* selects the odd li in class h */
.h:nth-child(odd) {
    background-color: #DBB2B8;
}

/* removing the bullet points */
.navigation-bar {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    background-color: lightgrey;
    border: 1px solid black; 
}

.nav-link:hover {
    color:aqua;
}

.nav-link:focus {
    color:blue;
}